/*
SECTION COGNITINVE-DISTORTIONS
*/

.cognitive-distortions {
  text-align: center;

  background-color: var(--color-white);
}

.cognitive-distortions h1 {
  margin-bottom: 30px;

  font-weight: 400;
  font-size: 60px;
}

.channel-block p {
  margin-bottom: 15px;

  color: #212529;
  font-weight: 400;
  font-size: 16px;
  line-height: 25.6px;
}

.video {
  position: relative;
  top: 15px;

  margin-bottom: -200px;

  border: none;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}
