.hyperbolic-depreciation {
    position: relative;
    background: var(--color-brown);
    color: var(--color-white);
}

.hyperbolic-depreciation.bg-image {
    z-index: -200;
}

.hyperbolic-depreciation .chapter h2 + b {
    color: var(--color-white);
}

.hyperbolic-depreciation .section-title img {
    margin-right: 0;
}

.hyperbolic-depreciation .chapter b {
    color: var(--color-white-translucent);
}

.hyperbolic-depreciation .simptoms h3 {
    color: var(--color-brown);
    background-color: var(--color-white);
}