/*
IKEA-EFFECT
*/

.ikea-effect {
  position: relative;
}

.effect-title {
  display: flex;
}

.effect-title img {
  margin-right: 30px;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.simptoms h3 {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 10px;

  color: var(--color-white);
  font-size: 14px;
  font-family: "Open Sans", serif;

  background-color: var(--color-brown);
}

.chapter h2 {
  margin-bottom: 20px;

  font-weight: 400;
}

.chapter b {
  color: var(--color-dark-translucent);
  font-weight: 400;
  font-size: 24px;
  font-family: Neucha, sans-serif;
}

.chapter h2 + b {
  color: var(--color-dark);
  font-weight: 400;
  font-size: 34px;
  font-family: Neucha, sans-serif;
  line-height: 1.2;
}
