/** CSS STYLE **/
:root {

  /*COLORS*/

  --color-white: #fff;
  --color-white-translucent: #d7ccc0;
  --color-light: #f5f4f0;
  --color-base: #fe8a02;
  --color-base-dark: #42413c;
  --color-dark: #2a2626;
  --color-dark-translucent: #908d8b;
  --color-brown: #b09a81;
  --color-blue: #1085c5;

}

@font-face {
  font-weight: 400;
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Regular.ttf');
}
@font-face {
  font-weight: 700;
  font-family: 'Open Sans';
  src: url('../assets/fonts/OpenSans-Bold.ttf');
}
@font-face {
  font-weight: 400;
  font-family: 'Neucha';
  src: url('../assets/fonts/Neucha-Regular.ttf');
}

/*Base stles*/

body {
  margin: 0;
  padding: 0;
  position: relative;

  font: 16px/1.6em 'Open Sans';
  color: var(--color-dark);
}

h1,
h2,
h3 {
  font-family: 'Neucha';
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.wrapper {
  width: 1110px;
  margin: 0 auto;
}

body::before {
  content: '';
  display: block;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -200;

  width: 100%;
  height: 915px;

  background-image: url('../assets/images/background.png');
  background-repeat: no-repeat;
  background-size: cover;
  background-color: var(--color-brown);
  opacity: .1;
}

/*HEADER*/

header {
  padding-top: 100px;
  padding-bottom: 100px;
}

.header-title {
  position: relative;
}

header h1 {
  margin-bottom: 150px;
}

.yellow {
  color: var(--color-base);
}

.header-img {
  height: 525px;
  position: absolute;
  top: -90px;
  right: -270px;
  z-index: -100;
}

.columns-2 {
  column-count: 2;
  column-gap: 30px;
}

.columns-2 p:first-child {
  margin-top: 0;
  margin-bottom: 70px;
}

.columns-2 p {
  padding: 0;
  break-inside: avoid;
}

.mt-2 {
  margin-top: 2rem;
}

.btn {
  display: inline-block;

  text-decoration: none;

  padding: 12px 24px;

  font-weight: bold;
  color: var(--color-white);
  cursor: pointer;
}

.bg-yellow {
  background-color: var(--color-base);
}

.font-upper {
  text-transform: uppercase;
}

/*SECTION COGNITINVE-DISTORTIONS*/


.cognitive-distortions {
  padding-bottom: 100px;
  text-align: center;
}

.card-title {
  color: var(--color-light);
}

.cognitive-distortions h1 {
  margin-bottom: 30px;
}

.video {
  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

/*SECTION NAVIGATION*/

.navigation {
  padding-top: 100px;
  padding-bottom: 100px;

  background-color: var(--color-base-dark);
}

.cards {
  display: flex;
  flex-wrap: wrap;
}

.row {
  display: flex;
}

.card-item {
  margin-right: 20px;
  margin-bottom: 15px;
  width: 100%;
  height: 100%;
}

.card-item a h2 {
  margin-top: 0;
  font-size: 64px;
  line-height: 1;
}

.card-title {
  margin: 0;
  padding: 0;
  font-size: 52px;
  font-weight: 400;
}

.card-item a {
  display: block;
  
  height: 323px;

  padding: 24px;

  text-decoration: none;

  background-color: var(--color-light);
  color: var(--color-base-dark);
}
