/** CSS STYLE **/
@import url("./header.css");
@import url("./cognitive.css");
@import url("./navigation.css");
@import url("./ikea.css");
@import url("./optimization.css");
@import url("./distortion-of-novelty.css");
@import url("./variables.css");
@import url("./utils.css");

@font-face {
  font-weight: 400;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Regular.ttf");
}

@font-face {
  font-weight: 700;
  font-family: "Open Sans";
  src: url("../assets/fonts/OpenSans-Bold.ttf");
}

@font-face {
  font-weight: 400;
  font-family: Neucha;
  src: url("../assets/fonts/Neucha-Regular.ttf");
}

/*
BASE STYLES
*/

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  position: relative;

  color: var(--color-dark);
  font-size: 16px;
  font-family: "Open Sans", serif;
  line-height: 1.6em;
}

h1,
h2,
h3 {
  font-family: Neucha, serif;
  line-height: 1.2em;
}

h1 {
  font-size: 72px;
}

h2 {
  font-size: 60px;
}

h3 {
  font-size: 34px;
}

.section-title {
  display: flex;
}

.section-title img {
  margin-right: 30px;

  filter: drop-shadow(0 16px 32px rgba(0 0 0 / 15%));
}

.simptoms h3 {
  margin-top: 100px;
  margin-bottom: 20px;
  padding: 5px 10px;

  color: var(--color-white);
  font-size: 14px;
  font-family: "Open Sans", serif;

  background-color: var(--color-brown);
}

.chapter h2 {
  margin-bottom: 20px;

  font-weight: 400;
}

.chapter b {
  color: var(--color-dark-translucent);
  font-weight: 400;
  font-size: 24px;
  font-family: Neucha, sans-serif;
}

.chapter h2 + b {
  color: var(--color-dark);
  font-weight: 400;
  font-size: 34px;
  font-family: Neucha, sans-serif;
  line-height: 1.2;
}
